<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>
  <div class="container">
    <h1>Welcome to <%= name %> subreddit!</h1>
    <p>
      <%= subscribers %> subscribers!
    </p>
    <h2>
      <%= description %>
    </h2>

    <% for(let post of posts ) { %>
      <div>
        <article>
          <p>
            <%=post.title%> - <b>
                <%=post.author%>
              </b>
          </p>
          <% if (post.img) {%>
            <img src="<%= post.img %>">
            <% } %>

        </article>
      </div>
      <% } %>
  </div>
</body>

</html>